# Data
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git
pandas>=2.2
numpy>=2.0

# Analysis
scipy>=1.14

# Sentiment
GoogleNews>=1.6.14
transformers>=4.45
torch>=2.5

# Forecast
prophet>=1.1.6

# UI
streamlit>=1.40
streamlit-lightweight-charts>=0.9
plotly>=5.24
